In [3]:
"""
1.	Create a list with one number, one word and one float value. Display the output of the list.
"""
list1 = [1,"hello world",3.14]
print(list1)

[1, 'hello world', 3.14]

In [5]:
"""
2.	I have a nested list [1,1[1,2]], how to grab the value of 2 from the list.
"""

nestedlist = [1,1,[1,2]]
print(nestedlist[2][1])

2

In [7]:
"""
3.	lst=['a','b','c'] What is the result of lst[1:]?
"""

lst = ['a','b','c']
print(lst[1:])

['b', 'c']

In [8]:
"""
4.	Create a dictionary with weekdays an keys and week index numbers as values.do assign dictionary to a variable
"""

dct = {"monday":1, "tuesday":2, "wednesday":3, "thursday":4, "friday":5}
print(dct)

{'monday': 1, 'tuesday': 2, 'wednesday': 3, 'thursday': 4, 'friday': 5}

In [13]:
"""
5.	D={‘k1’:[1,2,3]} what is the output of d[k1][1]
"""
D={'k1':[1,2,3]}
print(D['k1'][1])

2

In [14]:
"""
6.	Can you create a list [1,[2,3]] into a tuple
"""

lst = [1,[2,3]]
print(tuple(lst))

(1, [2, 3])

In [19]:
"""
7.	With a single set function can you turn the word ‘Mississippi’ to distinct character word.
"""
word = 'Mississippi'
st = set(word)
print(st)

{'i', 's', 'M', 'p'}

In [21]:
"""
8.	Can you add an element ‘X’ to the above created set
"""
st.add('X')
print(st)

{'X', 's', 'p', 'i', 'M'}

In [25]:
"""
9.	Output of set([1,1,2,3])
"""

st =([1,1,2,3])
print(set(st))

{1, 2, 3}

In [26]:
"""
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,between 2000 and 3200 (both included).
	The numbers obtained should be printed in a comma-separated sequence on a single line.
	Hints: 
	Consider use range(#begin, #end) method

"""

lst = []
for x in range(2000, 3201):
    if((x % 7 == 0) and (x %5 != 0)):
        lst.append(x)

print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [48]:
"""
	Write a program which can compute the factorial of a given numbers.
	The results should be printed in a comma-separated sequence on a single line.
	Suppose the following input is supplied to the program:
	8
	Then, the output should be:
	40320
	

	Hints:
	In case of input data being supplied to the question, it should be assumed to be a console input.

"""

def fact(x:int)->int:
    # base case
    if x == 0:
        return 1
    else:
        return x * fact(x-1)
# get user input

#x = int(raw_input())

print(fact(int(input())))

8
40320

In [49]:
"""
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
	Suppose the following input is supplied to the program:
	8
	Then, the output should be:
	{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
	

	Hints:
	In case of input data being supplied to the question, it should be assumed to be a console input.
	Consider use dict()

"""

def squaredict(i:int) -> dict:
    dct = dict()
    for x in range(1, i+1):
        dct[x] = x*x
    return(dct)

print(squaredict(int(input())))

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [51]:
"""
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
	Suppose the following input is supplied to the program:
	34,67,55,33,12,98
	Then, the output should be:
	['34', '67', '55', '33', '12', '98']
	('34', '67', '55', '33', '12', '98')

"""

userInput = input()
userInput = userInput.split(",")

lst = userInput
tple =tuple(lst)

print(lst)
print(tple)

1,2,3,4,5
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

In [57]:
"""
Question:
	Define a class which has at least two methods:
	getString: to get a string from console input
	printString: to print the string in upper case.
	Also please include simple test function to test the class methods.
	

	Hints:
	Use __init__ method to construct some parameters

"""

class printStringClass(object):
    def __init__(self):
        self.s = ""
    def getString(self):
        self.s = input()
    def printString(self):
        print(self.s.upper())
def test():
    testObj = printStringClass()
    testObj.getString()
    testObj.printString()
test()

hello world
HELLO WORLD